body{
  max-width: 900px;
  margin: 0 0 0 0;
}
img {
  width: 280px;
<<<<<<< HEAD
=======
  height:280px;
>>>>>>> 499746a22ac8de8dfbefd3422c5c4ff71ecbda0a
  border-radius: 60%;
}
p {
  width: 100%;
}
footer{
  height: 100px;
  text-align: center;
  background-color: paleturquoise;
}